#product_container{"data-hook" => "product_show", :itemscope => "", :itemtype => "http://schema.org/Product", "data-taxonomy" => @product_meta.class.name}
  = render 'shared/print_logo'
  - @body_id = 'product-details'
  = render 'header'
  .alpha{"data-hook" => "product_left_part"}
    .row-fluid{"data-hook" => "product_left_part_wrap"}
      %div{"data-hook" => "product_properties"}
        = render 'properties'
      #product-images{"data-hook" => "product_images"}
        #main-image{"data-hook" => ""}
          = render 'image' if @product.images.any?
        #thumbnails{"data-hook" => ""}
          = render 'thumbnails'
  - content_for :sidebar do
    .omega{"data-hook" => "product_right_part"}
      .row-fluid{"data-hook" => "product_right_part_wrap"}
        #product-description{"data-hook" => "product_description"}
          %h3.product-title{itemprop: "name"}= accurate_title
        = render 'actions'
        = render 'taxons'
