%body{class: body_class, "data-hook" => "body", id: @body_id || 'default'}
  = render 'shared/constants'
  = render 'shared/print_logo'
  %header#header{"data-hook" => ""}
    .container
      .topbar
        .top-row
          .row
            .span4.customer-service
              %span.live-chat Live Chat Available | Customer Service
              %span.phone 888-816-0610
            .span4.proudly-made-in-nyc
              Proudly Made Bespoke in New York City
            .span2.search-form
              = form_tag products_url, method: :get, class: 'navbar-form' do
                %input#s1.search-query{name: "keywords", placeholder: "Search", type: "search"}/
            .span2.minicart
              #link-to-cart{"data-hook" => ""}= link_to_cart
        .bottom-row
          .row
            .span12
              .hours MON-FRI 8AM-5PM EST
      .logobar
        = link_to image_tag('/assets/logo.gif'), root_path
      .navbar
        .navbar-inner
          .container
            %ul.nav
              %li= link_to 'Diamonds', '#'
              %li= link_to 'Engagement Rings', '#'
              %li= link_to 'Education', '#'
              %li= link_to 'About', '#'
              %li= link_to 'Contact', '#'
  #wrapper{"data-hook" => ""}
    .container
      .row
        - if content_for?(:sidebar)
          #content.span9{"data-hook" => ""}
            = breadcrumbs(@taxon)
            = flash_messages
            = yield
          %aside#sidebar.span3{"data-hook" => ""}
            = yield :sidebar
        - else
          #content.span12{"data-hook" => ""}
            = breadcrumbs(@taxon)
            = flash_messages
            = yield
  %footer#footer{"data-hook" => ""}
    .container
      %hr
      .row
        #footer-left.span6{"data-hook" => ""}
          %p= "&copy; #{Time.now.year} Enchanted Diamonds".html_safe
        #footer-right.span6{"data-hook" => ""}
      %br
  = render partial: 'spree/shared/google_analytics'
